section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row{
    margin: 2rem 0;
    gap: 2rem;
}

.col input{
    width: 100%;
    min-width: 300px;
}
 
.colCenter {
    display: flex;
    align-items: center;
}

.gap-2 > * + * {
    margin-top: 2rem;
}

.gap {
    display: flex;
    gap: 30%;
    justify-content: center;
}

.gap button{
    width: 6rem;
}

.gap-3 > * + * {
    margin-top: 2.5rem;
}

table {
    border: 1px solid black;
    border-collapse: collapse; 
    width: 100%;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
  }

  #sector-con-scroll {
    max-height: 288px;
    overflow-y: scroll; 
  }


@media (max-width: 767px) {
    .row-invert {
      display: flex;
      flex-direction: column-reverse;
    }
  }